<launch>
    <!--tf between NED frame and ground frame-->
    <node pkg= "iarc_tf" type="ned_world_dynamic_node" name="ned_world_dynamic" output="screen"/>
    <!--ground position-->
    <node pkg= "iarc_tf" type="ned_world_ground_frame_node" name="ned_world_ground_frame_node" output="screen"/>
    <!--service used to velocity transform-->
    <node pkg="iarc_tf" type="ned_world_velocity_transform_node" name="ned_world_velocity_transform_node" output="screen"/>
    <node pkg="iarc_tf" type="ned_world_velocity_transform_client_node" name="ned_world_velocity_transform_client_node" output="screen"/>
</launch>
