<launch>
	<node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
		<!-- node parameters -->
		<param name="drone_version" type="string" value="M100"/>
		<param name="serial_name" type="string" value="/dev/ttyUSB0"/>
		<param name="baud_rate" type="int" value="230400"/>
		<param name="app_id" type="int" value="1043451"/>
		<param name="app_version" type="int" value="1"/>
		<param name="app_bundle_id" type="string" value="Welcome to use dji-sdk"/>
		<param name="enc_key" type="string" value="de18b433dbeef9c2c91c0e6023964c4fb399348c21543a95576cdecebf564528"/>
		<param name="groundstation_enable" type="int" value="1"/>
	</node>

	
</launch>
